<%= form_with(model: ty_note, local: true) do |form| %>
  <% if ty_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ty_note.errors.count, "error") %> prohibited this ty_note from being saved:</h2>

      <ul>
      <% ty_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gifter_id %>
    <%= form.number_field :gifter_id, id: :ty_note_gifter_id %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :ty_note_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :ty_note_last_name %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :ty_note_subject %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, id: :ty_note_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
